@use '../abstracts/index' as *;

footer{
    background-color: $Black;
}
.footer{
    text-align: center;
    padding: 3em 2em;

    &__info{
        ul{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 2em 0;
            gap: 1.5em;
            @media (min-width:$desktop) {
                flex-direction: row;
            }
        }
        @media (min-width:$desktop) {
            @include flex(column, flex-start);
            .logo{align-self: flex-start;}
        }
    }
    // Social Links Section
    &__social{
        color: $White;
        &--links{
            @include flex(row, center);
            gap: 1.35em;
        }
    }

    // Icons Active states
    i{
        cursor: pointer;

        &::after{
            content: '';
            display: block;
            width: 0;
            border-radius: 2em;
            height: .1em;
            margin: 0 auto;
            position: relative;
            top: .25em;
            background-color: $White;
        }
        &:hover::after{
            width: 100%;
            transition: width .3s ease-in-out;
        }

    }

    // Responsive Columns
   @media (min-width: $desktop){
       @include flex(row, space-between);
   } 
}