@use '../abstracts/index' as *;

main {
    background-color: $White;
}
.main{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;  

    & > *{
        padding: 2.5em 0;
    }

    //All the anchor tags
    a:visited{
        background-color: $White;
    }

    .span-2{
        @media (min-width:$tablet) {
            display: none;
        }
    }
}   
    
.main__bio{
    display: grid;
    align-items: center;
    position: relative;

    //All children
    & > *{
        width: 100%;
    }
    //Img
    &--img{
        height: 20em;
        width: 100%;
        background: url("#{$main-image}") no-repeat;
        background-size: cover;

        @media (min-width:$desktop){
            height: 35em;
            background: url("#{$main-image-desktop}") no-repeat;
        }
    }
    // Main Bio Text
    &--text{
        p{
            opacity: .75;
        }
        @media (min-width: $desktop) {
            background-color: $White;
            position: absolute;
            padding: 3.5em;
            width: 50%;
            right: 0;
            text-align: justify;
            align-self: flex-end;
        }
    }

   @media (min-width:$desktop){
        grid-template-columns: 60% 40%;
   }
}
// Creations Section
.main__creation{

    // Heading
    h2{
        @media (min-width:$tablet) {
            @include flex(row, space-between);    
            margin-bottom: 1.75em;
        }
    }
    &--span{
        border: 2px solid $Black;
        padding: .4em 2em;
        letter-spacing: .1em;
        font-weight: 600;  
        font-size: 1.2rem;
        cursor: pointer;
        color: $Black;
        transition: background-color .3s ease;

        &:hover{
            background-color: $Black;
            a{
                color: #fff;
            }
        }
    }

    .span-1{
        @media (max-width: calc($tablet - 1px)) {
            display: none;
        }
    }
    // Grid Section
    &--grid{
        div.img{
            min-width: 100%;
            height: 12em;
            margin-bottom: 1em;
            color: $White;
            display: grid;
            max-width: 40em;
            grid-template-columns: 1fr 2fr;
            align-items: center;
            background-color: $background;
            background-blend-mode: darken;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: all .3s ease;

            // Active States
            &:hover{
                background-color: rgba(211, 211, 211, 0.781);
                background-blend-mode:lighten;
                color: $Black;
                cursor: pointer;
            }

            h3{
                text-transform: uppercase;
                text-align: left;
                z-index: 1;
                margin-left: 1em;
                padding: .5em 0;
                width: 100%;
                font-size: clamp(1.7rem, 4vw, 2.2rem);
            }
            @media (min-width:$desktop) {
                height: 29em;
                width: 100%;
            }

            // Heading three alignment
            @media (min-width:$desktop) {
                align-items: flex-end;
            }
        }
        // Background card images mobile
        .deep-earth{background: url("#{$deep-earth}");}
        .night-arcade{background: url("#{$night-arcade}");}
        .soccer-team{background: url("#{$soccer-team}");}
        .the-grid{background: url("#{$the-grid}");}
        .from-up{background: url("#{$from-up}");}
        .borealis{background: url("#{$borealis}");}
        .curiosity{background: url("#{$curiosity}");}
        .fisheye{background: url("#{$fisheye}");}

        // Responsive Columns 
        @include grid();
        // Change Background Images
        @media (min-width:$desktop){

            .deep-earth{background: url("#{$deep-earth-desktop}");}
            .night-arcade{background: url("#{$night-arcade-desktop}");}
            .soccer-team{background: url("#{$soccer-team-desktop}");}
            .the-grid{background: url("#{$the-grid-desktop}");}
            .from-up{background: url("#{$from-up-desktop}");}
            .borealis{background: url("#{$borealis-desktop}");}
            .curiosity{background: url("#{$curiosity-desktop}");}
            .fisheye{background: url("#{$fisheye-desktop}");}
        }   
    }
}

