@use '../abstracts/index' as *;

//General Styles
html{
    font-size: 15px;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    position: relative;

}
section{
    padding: 2.7em 1em;
    max-width: 80em;
    margin: 0 auto;
}
a{
    text-decoration: none;
    &:visited{
        color: $Black;
    }
}
h1, h2{
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;    
}
h1{
    font-size: clamp(2.5rem, 5vw, 3.75rem);
    font-weight: 400;
}
h2{
    font-size: clamp(1.75rem, 3vw, 2.65rem);
}
p{
    font-size: clamp(1.1rem, 2vw, 1.25rem);
    color: $VeryDarkGray;
}
p,li{
    font-family: 'Alata', sans-serif;   
}
img.logo{
    width: 30vw;
    max-width: 12em;
}
ul{
    padding-left: 0;
    list-style: none;
    
    li{
        color: $White;
        cursor: pointer;
        font-size: clamp(1rem, 2vw, 1.15rem);

        // Active states
        &::after{
            content: '';
            display: block;
            width: 0;
            border-radius: 2em;
            height: .125em;
            margin: 0 auto;
            position: relative;
            top: .7em;
            background-color: $White;
        }
        &:hover::after{
            width: 100%;
            transition: width .3s ease-in-out;
        }
    }
}
.img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 50em;
}
// Header
header{
    background: url("#{$header-background}") no-repeat;
    background-size: cover;

    @media (min-width:$tablet) {
        background: $background url("#{$header-background-desktop}") no-repeat;    
        background-blend-mode: darken;
        background-size: cover;
    }
}

.header{
    color: $White;

    // Navigation Bar
    nav{

        @include flex(row, space-between);

        // List
        #nav-links{
            @include flex(row, flex-start);
            gap: 1.5em;
            opacity: .8;

            @media (max-width:$tablet) {
                display: none;
            }
        }

        // Hamburger Menu
        #toggle-menu{
            cursor: pointer;
            border: none;
            background-color: transparent;

            @media (min-width:$tablet) {
                display: none;
            }
        }
    }




    // Hero Section
    .hero{
        max-width: 45em;
        &__text{
            border: 2px solid $White;
            h1{
                padding: .5em;
            }
        }
        margin: 5em 0;
    }
}


