html {
  font-size: 15px;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  position: relative;
}

section {
  padding: 2.7em 1em;
  max-width: 80em;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
a:visited {
  color: black;
}

h1, h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: clamp(2.5rem, 5vw, 3.75rem);
  font-weight: 400;
}

h2 {
  font-size: clamp(1.75rem, 3vw, 2.65rem);
}

p {
  font-size: clamp(1.1rem, 2vw, 1.25rem);
  color: dimgray;
}

p, li {
  font-family: "Alata", sans-serif;
}

img.logo {
  width: 30vw;
  max-width: 12em;
}

ul {
  padding-left: 0;
  list-style: none;
}
ul li {
  color: white;
  cursor: pointer;
  font-size: clamp(1rem, 2vw, 1.15rem);
}
ul li::after {
  content: "";
  display: block;
  width: 0;
  border-radius: 2em;
  height: 0.125em;
  margin: 0 auto;
  position: relative;
  top: 0.7em;
  background-color: white;
}
ul li:hover::after {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 50em;
}

header {
  background: url("../images/mobile/image-hero.jpg") no-repeat;
  background-size: cover;
}
@media (min-width: 710px) {
  header {
    background: rgba(1, 1, 1, 0.397) url("../images/desktop/image-hero.jpg") no-repeat;
    background-blend-mode: darken;
    background-size: cover;
  }
}

.header {
  color: white;
}
.header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header nav #nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5em;
  opacity: 0.8;
}
@media (max-width: 710px) {
  .header nav #nav-links {
    display: none;
  }
}
.header nav #toggle-menu {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
@media (min-width: 710px) {
  .header nav #toggle-menu {
    display: none;
  }
}
.header .hero {
  max-width: 45em;
  margin: 5em 0;
}
.header .hero__text {
  border: 2px solid white;
}
.header .hero__text h1 {
  padding: 0.5em;
}

main {
  background-color: white;
}

.main {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}
.main > * {
  padding: 2.5em 0;
}
.main a:visited {
  background-color: white;
}
@media (min-width: 710px) {
  .main .span-2 {
    display: none;
  }
}

.main__bio {
  display: grid;
  align-items: center;
  position: relative;
}
.main__bio > * {
  width: 100%;
}
.main__bio--img {
  height: 20em;
  width: 100%;
  background: url("../images/mobile/image-interactive.jpg") no-repeat;
  background-size: cover;
}
@media (min-width: 1200px) {
  .main__bio--img {
    height: 35em;
    background: url("../images/desktop/image-interactive.jpg") no-repeat;
  }
}
.main__bio--text p {
  opacity: 0.75;
}
@media (min-width: 1200px) {
  .main__bio--text {
    background-color: white;
    position: absolute;
    padding: 3.5em;
    width: 50%;
    right: 0;
    text-align: justify;
    align-self: flex-end;
  }
}
@media (min-width: 1200px) {
  .main__bio {
    grid-template-columns: 60% 40%;
  }
}

@media (min-width: 710px) {
  .main__creation h2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.75em;
  }
}
.main__creation--span {
  border: 2px solid black;
  padding: 0.4em 2em;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  color: black;
  transition: background-color 0.3s ease;
}
.main__creation--span:hover {
  background-color: black;
}
.main__creation--span:hover a {
  color: #fff;
}
@media (max-width: 709px) {
  .main__creation .span-1 {
    display: none;
  }
}
.main__creation--grid div.img {
  min-width: 100%;
  height: 12em;
  margin-bottom: 1em;
  color: white;
  display: grid;
  max-width: 40em;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  background-color: rgba(1, 1, 1, 0.397);
  background-blend-mode: darken;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}
.main__creation--grid div.img:hover {
  background-color: rgba(211, 211, 211, 0.781);
  background-blend-mode: lighten;
  color: black;
  cursor: pointer;
}
.main__creation--grid div.img h3 {
  text-transform: uppercase;
  text-align: left;
  z-index: 1;
  margin-left: 1em;
  padding: 0.5em 0;
  width: 100%;
  font-size: clamp(1.7rem, 4vw, 2.2rem);
}
@media (min-width: 1200px) {
  .main__creation--grid div.img {
    height: 29em;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .main__creation--grid div.img {
    align-items: flex-end;
  }
}
.main__creation--grid .deep-earth {
  background: url("../images/mobile/image-deep-earth.jpg");
}
.main__creation--grid .night-arcade {
  background: url("../images/mobile/image-night-arcade.jpg");
}
.main__creation--grid .soccer-team {
  background: url("../images/mobile/image-soccer-team.jpg");
}
.main__creation--grid .the-grid {
  background: url("../images/mobile/image-grid.jpg");
}
.main__creation--grid .from-up {
  background: url("../images/mobile/image-from-above.jpg");
}
.main__creation--grid .borealis {
  background: url("../images/mobile/image-pocket-borealis.jpg");
}
.main__creation--grid .curiosity {
  background: url("../images/mobile/image-curiosity.jpg");
}
.main__creation--grid .fisheye {
  background: url("../images/mobile/image-fisheye.jpg");
}
@media (min-width: 1200px) {
  .main__creation--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
    align-items: center;
    gap: 1.5em;
  }
}
@media (min-width: 1200px) {
  .main__creation--grid .deep-earth {
    background: url("../images/desktop/image-deep-earth.jpg");
  }
  .main__creation--grid .night-arcade {
    background: url("../images/desktop/image-night-arcade.jpg");
  }
  .main__creation--grid .soccer-team {
    background: url("../images/desktop/image-soccer-team.jpg");
  }
  .main__creation--grid .the-grid {
    background: url("../images/desktop/image-grid.jpg");
  }
  .main__creation--grid .from-up {
    background: url("../images/desktop/image-from-above.jpg");
  }
  .main__creation--grid .borealis {
    background: url("../images/desktop/image-pocket-borealis.jpg");
  }
  .main__creation--grid .curiosity {
    background: url("../images/desktop/image-curiosity.jpg");
  }
  .main__creation--grid .fisheye {
    background: url("../images/desktop/image-fisheye.jpg");
  }
}

footer {
  background-color: black;
}

.footer {
  text-align: center;
  padding: 3em 2em;
}
.footer__info ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2em 0;
  gap: 1.5em;
}
@media (min-width: 1200px) {
  .footer__info ul {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .footer__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .footer__info .logo {
    align-self: flex-start;
  }
}
.footer__social {
  color: white;
}
.footer__social--links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.35em;
}
.footer i {
  cursor: pointer;
}
.footer i::after {
  content: "";
  display: block;
  width: 0;
  border-radius: 2em;
  height: 0.1em;
  margin: 0 auto;
  position: relative;
  top: 0.25em;
  background-color: white;
}
.footer i:hover::after {
  width: 100%;
  transition: width 0.3s ease-in-out;
}
@media (min-width: 1200px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
